head
	base(href="./assets/")
	title Starter kit
	meta(charset='utf-8')
	link(rel='canonical', href='#')
	meta(name='author', content='Jay Evans')
	meta(name='description', content='Jay Evans Weather App.')
	meta(name='keywords', content='Replace with website keywords')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='manifest', href='/manifest.json')