div.logo-container
  div.logo-header
    h1.logo
      span.logo-cymru
        | My
      br
      span.logo-soft
        | Logo
nav
  ul
    li
      a(href="#") Contact
    li
      a(href="#") About
    li
      a(href="#") Home