.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clear {
  clear: both;
}

.text-center {
  text-align: center;
}

// Margin utility

.mt-sm {
  margin-top: 1em;
}

.mt-md {
  margin-top: 2em;
}

.mt-lg {
  margin-top: 4em;
}